<!-- start custom footer snippets -->
<!-- end custom footer snippets -->
<form method="post" action="https://formspree.io/f/mrgwblad">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-large col-6-medium col-12-xsmall">
									<label for="name">Name</label>
									<input type="text" name="name" id="name">
								</div>
								<div class="col-6 col-12-large col-6-medium col-12-xsmall">
									<label for="email">Email</label>
									<input type="email" name="email" id="email">
								</div>
								<div class="col-12">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
									</ul>
								</div>
							</div>
						</form>
