---
layout: archive
permalink: /media/
author_profile: true
---

{% include base_path %}

<h1>Appearances in the media</h1>

Discover the exciting moments when my work in evolution has captured the attention of the media. From fascinating features highlighting the significance of my studies to interviews explaining my research experience in China, these media appearances offer a glimpse into my scientific journey. The flags (🇪🇸🇬🇧) denote the language of the news articles. 

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

