---
layout: archive
permalink: /media/
author_profile: true
---

{% include base_path %}

<h1>Appearances in the media</h1>

These media appearances offer a glimpse into my scientific journey, from fascinating features highlighting the significance of my studies to interviews explaining my research experience in China. The flags indicate the language of the news articles: English (🇬🇧) and Spanish (🇪🇸). 

{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}

