---
#layout: archive
permalink: /media/
author_profile: true
---

{% include base_path %}

<h1>Appearances in the media</h1>

My research has been featured in several media outlets. In this page you can read some of these appeareances, including news that highlight the importance of my work, as well as interviews where I share my research experiences in China. The flags show the language of each news article: English (🇬🇧) and Spanish (🇪🇸).

{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}

