/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 0;
  height: auto;
  margin-top: 3em;
  color: mix(#fff, $gray, 25%);
  background-color: $lighter-gray;
  border-top: 1px solid $light-gray;
  padding: 1em 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page__footer-content {
  width: 90%;
  font-size: $type-size-7;
  text-align: center;
  margin: 0 auto;

  p {
    margin: 0;
    text-align: center;
  }
}
